body { background: white;
		color: black;
		font-family: "Times New Roman"; 
		font-size: 16pt; 
		margin: 0 auto; 
	}

#centered { border: none; 
			margin: 10px;
			width: auto
			text-align: center-left;
		  }
image { display: none;}
h4 { font-size: 16pt;
	font-weight: normal;
	text-align:center;
	font-style: normal;
	margin-top: 15px;
	}
#resume { width: auto; 
			margin: 0px; 
			padding: 50px; 
			border: none;
			text-align: left; 
			}
h2.title { font-size: 24pt; 
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;
			margin-top: 0px;
			margin-bottom: 15px;
		}
h3.title { font-size: 18pt;
			font-weight: bold;
			margin-bottom: 0px;
		}
.list { list-style: disc;}


table { display: none;}

#nav, #photos, #footer { display: none; }