body { background: green;
		color: yellow;
		font-family: "Comic Sans MS"; 
		font-size: 12pt; 
		margin: 0 auto; 
	}

h1.title { font-size: 36pt; 
			font-weight: bold;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 0px;
		}
h2.title { font-size: 24pt;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;
			padding-bottom: 0px;
			margin-bottom: 25px;
		}
h3.title { font-size: 14pt;
			font-weight: bold;
			margin: 0 auto;
		}
h4 { font-size: 12pt;
	font-weight: normal;
	text-align:center;
	font-style: italic;
   } 
.title2 { font-size: 14pt;
			font-weight: normal;
			font-variant: small-caps;
			padding-bottom: 0px;
			margin-top: 30px;
			margin-bottom: 25px;
			text-align: center;
		}
.list { list-style: none;}
		
#centered { border: 2px solid gray; 
			margin-left: auto; 
			margin-right: auto; 
			padding-left: 30px;
			padding-right: 30px;
			width: 800px; 
			text-align: center; }

#nav { font-size: 20pt; 
		text-align: left;	
	 }
#photos { width: 300px;
			border: 2px solid yellow;
			padding: 20px;
			margin: 10px auto;
			text-align: center;
			background-color: green;
		}

#introduction { width: auto; text-align: left; margin: 0px; padding: 50px; border: none; }

#footer { font-size: 10pt; text-align: center; line-height: 12pt; padding-top: 30pt;}


#resume { width: auto; 
			margin: 0px; 
			padding: 50px; 
			border: none; 
			text-align: left; }
.courseno, .coursename { text-align: center; }
		
	
		


		
